@import "../../../mixins/mixins.scss";
@import "../../../mixins/palette/palette.scss";

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImageDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Image {
  height: 400px;
  margin-right: 10px;
}

.Description {
  width: 280px;
  height: 300px;
  overflow-y: auto;
}

.Title {
  font-size: 20px;
  font-weight: 700;
}

.Subtitle {
  font-size: 18px;
  font-weight: 600;
}

.PageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.MainContainer {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.Form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 600px;
}
.FormRatingInput {
  // width: 40px;
  text-align: center;
}

.FormTextInput {
  width: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  resize: none;
  padding: 10px;
  min-height: 400px;
  margin-top: 10px;
}

.ReviewTitle {
  font-size: 18px;
  font-weight: 500;
}

.SaveBtn {
  font-size: 20px;
  &:hover {
    color: $Color-Primary;
  }
}

@media screen and (min-width: 980px) {
  .MainContainer {
    flex-direction: row;
  }

  .ImageDescriptionContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .ModalCard {
    padding: 30px;
  }

  .Description {
    width: 350px;
    height: 400px;
  }
  .Card {
    padding: 30px;
  }
}
